body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
}

#nao {
    position: absolute;
}

button {
    background-color: aquamarine;
    display: block; /* torna os botões em elementos de bloco */
    margin: 0 auto; /* centraliza os botões horizontalmente */
    width: 100px; /* define a largura dos botões */
    height: 50px; /* define a altura dos botões */
    font-size: 16px; /* define o tamanho da fonte dos botões */
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: rgb(78, 75, 75);
}

#sim{
    background-color: #4CAF50;
    color: #fff;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
#nao {
    background-color: #4CAF50;
    color: #fff;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }